body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #f2f2f2;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#display {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: azure;
}

#display::placeholder{
    margin-right: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-gap: 10px;
  width: 100%;
}

button {
  height: 50px;
  font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    transition: ease-in .3s;


}

button:hover {
  background: #ddd;
}



